.carousel-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
}

.carousel-wrapper {
  display: flex;
  position: relative;
  width: 100%;
}

.carousel-content-wrapper {
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.carousel-content {
  display: flex;
  transition: all 250ms linear;
}

.carousel-content > * {
  flex-grow: 1;
  flex-shrink: 0;
  width: 100%;
}

.carousel-content.show-1 > * {
  width: 100%;
}

.carousel-content.show-2 > * {
  width: 50%;
}

.carousel-content.show-3 > * {
  width: calc(100% / 3);
}

.carousel-content.show-4 > * {
  width: calc(100% / 4);
}

.hidden {
  visibility: hidden;
}
